h1{
    font-family: cursive;
    text-align: center;
}
p{
    font-family: fantasy;
    text-indent:2em;
    line-height: 2em;
    letter-spacing: 10px;
}
.stress{
    font-family: monospace;
    font-size: 5em;
    color: blue;
    text-decoration: underline;
}
.stress:hover{
    color: black;
    font-size: 10em;
    font-weight: 1000;
    font-style: italic;
    text-decoration: unset;
    text-decoration: line-through;
}